* {
  font-family: verdana, tahoma, sans-serif;
  margin: auto;
}
html {

}

body {
  background-color: lightsteelblue;
  color: dimgray;
  width: 1050px;


}

p {
  font-size: 18px;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;

}

a {
  color: steelblue;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
