* {
  font-family: "Arial black", tahoma, sans-serif;
  margin: auto;
}

.pic {
  display: block;
  width: 800px;

}

body {
  background-color: lightsteelblue;
  color: dimgray;
  width: 1050px;


}

h1 {
  font-size: 36px;
  display: block;
  width: 100%;
  margin-bottom: 20px;

}

h2 {
  font-size: 24px;
  display: block;
  width: 100%;
  margin-bottom: 20px;
